<form>
  {{ diagnostic }}
  <app-radio [item]="main" [order]="order"></app-radio>
  <!-- Burger -->
  <app-checkboxes [item]="condiments" [order]="order" *ngIf="true"></app-checkboxes>
  <app-radio [item]="burgerSide" [order]="order"></app-radio>
  <app-dropdown [item]="friesSize" [order]="order"></app-dropdown>
  <app-dropdown [item]="dressing" [order]="order"></app-dropdown>
  <!-- Steak -->
  <app-dropdown [item]="doneness" [order]="order"></app-dropdown>
  <app-radio [item]="steakSide" [order]="order"></app-radio>
  <app-dropdown [item]="dressing" [order]="order"></app-dropdown>
  <app-textbox [item]="potatoCount" [order]="order"></app-textbox>
  <!-- Either -->
  <app-textbox [item]="specialRequests" [order]="order"></app-textbox>
  <br>
  <button>Add to Cart</button>
</form>

