{{ diagnostic }}
<br>
<button type="button" *ngIf="!ordering" (click)="newOrder()">Order Something</button>
<form *ngIf="ordering">
  <!-- Main -->
  <app-radio [item]="main" [order]="order"></app-radio>
  <!-- Main Modifier -->
  <app-checkboxes [item]="condiments" [order]="order" *ngIf="order.main === 'Burger'"></app-checkboxes>
  <app-dropdown [item]="doneness" [order]="order" *ngIf="order.main === 'Steak'"></app-dropdown>
  <!-- Side -->
  <app-radio [item]="burgerSide" [order]="order" *ngIf="order.main === 'Burger'"></app-radio>
  <app-radio [item]="steakSide" [order]="order" *ngIf="order.main === 'Steak'"></app-radio>
  <!-- Side Modifier -->
  <app-dropdown [item]="friesSize" [order]="order" *ngIf="order.side === 'Fries'"></app-dropdown>
  <app-dropdown [item]="dressing" [order]="order" *ngIf="order.side === 'Salad'"></app-dropdown>
  <app-textbox [item]="potatoCount" [order]="order" *ngIf="order.side === 'Baked Potato'"></app-textbox>
  <!-- Special Requests and Add to Cart -->
  <div *ngIf="order.friesSize || order.dressing || order.potatoCount">
    <app-textbox [item]="specialRequests" [order]="order"></app-textbox>
    <br>
    <br>
    <button type="button" (click)="addToCart()">Add to Cart</button>
  </div>
</form>
